.wrapper-month-day{
    display: inline-block;
    width:14%;
    height:1.7rem;
    margin-top:20px;
    font-size:1.3rem;
    text-align: center;
}
.month-day{
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
}
.prev-month-day{
    color:rgb(194, 190, 224);
    font-family: 'Open Sans', sans-serif;
}
.bonus{
    width:2rem;
    height:2rem;
    border-radius: 50%;
    color:white;
    background-color: rgb(72, 61, 139);
    text-align: center;
    margin: auto;
}
.active{
    width:2rem;
    height:2rem;
    border-radius: 50%;
    border:2px dashed rgb(72, 61, 139);
    margin: auto;
}
