.week-days-wrapper{
    width:100%;
    text-align: center;
    margin-top: 20px;
}
.week-day{
    width:14%;
    color:rgb(72, 61, 139);
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-weight:600;
    display: inline-block;
    font-size:0.8em;
}