.container{
    width: 72vw;
    margin: 0 auto;
    height: auto;
    min-height:500px;

}
.today-tasks, .calendar{
    float:left;
}
.calendar{
    width:55%;
    height: auto;
    min-height:450px;
    position: relative;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    box-shadow: 0 10px 30px -4px #685cae;
    margin: 2.5vh 0;
    z-index: 0;
}
p {
    display: block;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
}
.add-task{
    border: 2px double white;
    display: block;
    color:white;
    background-color: rgb(72, 61, 139);
    width:9vmin;
    height: 9vmin;
    min-width: 50px;
    min-height: 50px;
    border-radius: 50%;
    margin: 10px auto;
    font-size: 7vmin;
    transition: .3s;
}
.add-task i{
    font-style: normal;
    margin: auto;
}
.add-task:hover{
    border-color : rgb(72, 61, 139) ;
    color : rgb(72, 61, 139);
    background-color: white;
}
.add-task:active{
    color : white;
    background-color: rgb(108, 94, 193);
}

.today-tasks{
    overflow-y: scroll;
    z-index: 1000;
    width: 40%;
    height:70vh;
    min-height:470px;
    margin: 0;
    position: relative;
    background-image: url("../image/bg2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
}
.today-tasks::-webkit-scrollbar {
    width: 0;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}

.today-tasks-layer{
    width:100%;
    height:80vh;
    min-height: 430px;
    position: absolute;
    background-color: rgba(72, 61, 139, 0.6);
}

@media screen and (max-width: 768px){
    .container{
        width:98vw;
    }
    .week-day{
        font-size:0.7em;
    }
}
@media screen and (max-width: 480px){
    .today-tasks, .calendar{
        display:block;
        width:100%;
        margin: 0 ;
        border-radius: 0;
    }
    .today-tasks-layer{
        border-radius: 0;
    }
}
